doctype html
html
  head
    link(rel="stylesheet" href="style.css")/
  body
    table(width="100%", border="0", cellspacing="0", cellpadding="0")
      tr
        td(style="text-align: center")
          block content
        
